[submodule ".vim/pack/dist/start/nerdtree"]
	path = .vim/pack/dist/start/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule ".vim/pack/dist/start/vim-airline-themes"]
	path = .vim/pack/dist/start/vim-airline-themes
	url = https://github.com/vim-airline/vim-airline-themes.git
[submodule ".vim/pack/dist/start/vim-airline"]
	path = .vim/pack/dist/start/vim-airline
	url = https://github.com/vim-airline/vim-airline.git
[submodule ".vim/pack/dist/start/vim-solarized8"]
	path = .vim/pack/dist/start/vim-solarized8
	url = https://github.com/lifepillar/vim-solarized8.git
